<?php

$serviceContainer = \Propel\Runtime\Propel::getServiceContainer();
$serviceContainer->checkVersion('2.0.0-dev');
$serviceContainer->setAdapterClass('unilever', 'mysql');
$manager = new \Propel\Runtime\Connection\ConnectionManagerSingle();
$manager->setConfiguration(array (
  'dsn' => 'mysql:host=unilever.quickwins.nl;dbname=unilever',
  'user' => 'unilever',
  'password' => 'p3Bnxas8nJsU9FCA',
  'settings' =>
  array (
    'charset' => 'utf8',
    'collation' => 'utf8_general_ci'
  ),
));
$manager->setName('unilever');
$serviceContainer->setConnectionManager('unilever', $manager);
$serviceContainer->setDefaultDatasource('unilever');